{%macro AboutComponent()%}
<div id="about" >
    <h3 class="mb-4">About</h3>
    I am a highly motivated, independent, and cryptocurrency passionate professional with MSc in Finance, a strong work ethic, and analytical skills. 
    <br>
    <br>
    Over the last 6 years, I have successfully gained detailed knowledge of financial markets, including technical and volume spread analysis, risk management, and complex data analysis.
    <br>
    <br>
    I am capable to perform and deliver great results in a rapid-paced, high-pressured volatile market environment.
    <br>
    <br>
    Currently I'm studying AI Engineering where I'm developing my skills to build automated trading models.
</div>
{%endmacro%}
