{%macro ContactComponent()%}
<div class='m-3' id='contact'>
	<h3 class="mb-4">Contact Me</h3>
	<label for="exampleFormControlInput1" class="form-label">Email address</label>
	<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
	<label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Text here</textarea>
</div>

{%endmacro%}