{%macro JumbotronComponent(SOCIAL_LINKS) -%}

<div class="container">
  <div class="jumbotron">

    <div class="row h-100">
      <div class="col col-sm-12 col-md-7 d-flex flex-column justify-content-center">
       <img class="rounded-circle avatar" src="{{url_for('static', filename='/assets/wojtek.png')}}"/>
      <div class="social-links mt-4 d-flex align-items-center justify-content-start" style="margin: 1em; padding: 1em;text-align:center; ">
        {%for social_link in SOCIAL_LINKS%}
        <span>
          <a href="{{social_link['link']}}">{{social_link["icon"]|safe }}</a>
        </span>
       {%endfor%}
      </div>
      <div><h1 id='neon'>Wojciech Gradzinski</h1></div>
      </div>
      <div class="col col-sm-12 col-md-5 d-flex flex-column align-items-center justify-content-center"> 
         
         
         
        <h3 id='neon'>Trader | Data Scientist | DeFi</h3>
         
         <p class="home-description">
             I am a Trader who really loves trading the financial markets. I am also a huge DeFi enthusiast !
         </p>

        
      </div>
    </div>
   </div>
</div>
{%-endmacro%}