{% extends "/layouts/index.html"%} 

{% from "/components/contact/index.html" import ContactComponent %}
{% from "/components/jumbotron/jumbotron.html" import JumbotronComponent %}
{% from "/components/about/index.html" import AboutComponent %}
{% from "/components/projects/index.html" import ProjectsListingComponent %}


{% block title %}
  Home  
{% endblock %}

{% block content %}
{{ JumbotronComponent(SOCIAL_LINKS)}}
   <div class="container">
    {{AboutComponent()}}
    {{ProjectsListingComponent(MY_PROJECTS)}}
    {{ContactComponent()}}
   </div>
{% endblock %}

